﻿@model SignInViewModel

<head>
    <link rel="stylesheet" href="~/css/signIn.css" asp-append-version="true" />
</head>


<body>
    <div class="center">
        <h1>QUAESITOR</h1>
        <form method="post" asp-action="SignIn" asp-controller="SignIn">
            <fieldset>
                <div class="txt_field1">
                    <input type="email" name="email">
                    <label for="SignInViewModel.Email">Email</label>
                </div>
                <div class="txt_field2">
                    <input type="password" name="password">
                    <label for="SignInViewModel.Password">Password</label>
                </div>
                <div class="pass">Forgot Password?</div>
                <input type="submit" value="Sign in">
            </fieldset>
            <div class="signup_link">
                <a href="#"></a>
                No account? <a asp-action="Index" asp-controller="SignUp">Sign Up</a>
            </div>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/signIn.js" asp-append-version="true"></script>
</body>