﻿@model SignUpViewModel

<head>
    <link rel="stylesheet" href="~/css/signUp.css" asp-append-version="true" />
</head>

<body>
    <div class="wrapper-details">
        <div class="container-details">
            <div class="title">Sign Up</div>
            <form method="post" asp-action="SignUp" asp-controller="SignUp" enctype="multipart/form-data">
            <div class="user-details">
                    <div class="input-box">
                        <span class="details">First name</span>
                        <input for="SignUpViewModel.FirstName" type="text" placeholder="ex. John" name="firstname" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Last name</span>
                        <input for="SignUpViewModel.LastName" type="text" placeholder="ex. Doe" name="lastname" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Date of birth</span>
                        <input for="SignUpViewModel.Age" type="text" name="age" placeholder="yyyy-mm-dd" onfocus="(this.type='date')" onfocusout="(this.type='text')" required>
                    </div>
                    <div class="input-box">
                        <span class="details">E-mail</span>
                        <input for="SignUpViewModel.Email" type="text" placeholder="Email@example.com" name="email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">University</span>
                        <select for="SignUpViewModel.University" name="university" id="field">
                            <option class="disabled-option" value="" disabled selected>University</option>
                            @if (Model.Universities != null)
                            {
                                @foreach (var university in Model.Universities) 
                                {
                                    <option>@Html.DisplayFor(x => university.name)</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Country</span>
                        <select for="SignUpViewModel.Country" name="country" id="field">
                            <option class="disabled-option" value="" disabled selected>Country</option>
                            @if (Model.Countries != null)
                            {
                                @foreach (var country in Model.Countries) 
                                {
                                    <option>@Html.DisplayFor(x => country.name)</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Field of science</span>
                        <select for="SignUpViewModel.ScienceArea" name="sciencearea" id="field">
                            <option class="disabled-option" value="" disabled selected>Area</option>
                            <option value="Physics">Physics</option>
                            <option value="Biology">Biology</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Medicine">Medicine</option>
                        </select>
                    </div>
                    <div class="input-box-file">
                        <span class="details">Profile picture</span>
                        <input for="SignUpViewModel.Picture" type="file" name="picture">
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input for="SignUpViewModel.Password" type="password" placeholder="Enter your password" name="password" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input for="SignUpViewModel.ConfirmedPassword" type="password" placeholder="Confirm your password" name="confirmedpassword" required>
                    </div>
                </div>
                <div class="btn btn-outline-secondary">
                    <a class="a" asp-action="Index" asp-controller="SignIn">Cancel</a>
                </div>
                <div class="btn btn-primary">
                    <input class="input" type="submit" value="Sign up" href="/SignIn">
                </div>
            </form>
        </div> 
    </div>
</body>