﻿@model HomeViewModel

@{
    foreach (var model in Model.Feed)
    {
        @if (model.Picture != null)
        {
            var base64 = Convert.ToBase64String(model.Picture);
            var imgSrc = String.Format("data:image/jpeg;base64, {0}", base64);
            model.DecryptedPicture = imgSrc;
        }
    }
    foreach (var model in Model.Users)
    {
        @if (model.Picture != null)
        {
            var base64 = Convert.ToBase64String(model.Picture);
            var imgSrc = String.Format("data:image/jpeg;base64, {0}", base64);
            model.DecryptedPicture = imgSrc;
        }
    }
}

<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
</head>

<body>
    <div class="all-wrapper">
        <div class="site-wrapper">
            <div id="sidebar">
                <div class="container-suggestions">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">User suggestions <i class="mdi mdi-account-multiple ms-1"></i></h4>

                            @foreach (var user in Model.Users)
                            {
                                <div class="list-group" >
                                    <a href="@Url.Action("Index", "Profile", new {Email = @user.Email})" class="list-group-item list-group-item-action">
                                        <div class="d-flex align-items-center pb-1" id="tooltips-container">
                                            <img src="@user.DecryptedPicture" class="rounded-circle img-fluid bg-transparent" alt="" width="70">
                                            <div class="w-100">
                                                <h6 class="mb-1">@user.Firstname @user.Lastname</h6>
                                                <p class="font-12 text-muted">@user.University</p>
                                                <p class="font-12 text-muted">@user.ScienceArea</p>
                                                <p class="font-12 text-muted">@user.Country</p>
                                                <p class="font-12 text-muted" name="email">@user.Email</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="container mb-5">
                <form method="post" asp-action="CreatePost" asp-controller="Home" class="min-form">
                    @* <div class="feed d-flex justify-content-center row"> *@
                        @* <div class="col-md-5 border-right"> *@
                            <div class="p-3">
                                <div class="feed">
                                    <div class="share border bg-white" style="margin-bottom: 30px;">
                                        <div class="d-flex flex-column inputs p-2 py-4">
                                            <input type="text" class="border-0 form-control share-input" placeholder="Title" name="title">
                                            <hr class="col-xs-12">
                                            <input type="text" class="border-0 form-control share-input" placeholder="Share your thoughts" name="content">
                                        </div>
                                        <div class="d-flex flex-row justify-content-between border-top">
                                            <div class="d-flex flex-row publish-options">
                                                <div class="align-items-center border-right p-2 share">
                                                    @* <i class="fa fa-camera text-black-50"></i>
                                                    <span class="ml-1">Photo</span> *@
                                                </div>
                                                <div class="align-items-center border-right p-2 share">
                                                    @* <i class="fa fa-video-camera text-black-50"></i>
                                                    <span class="ml-1">Video</span> *@
                                                </div>
                                                <div class="align-items-center border-right p-2 share">
                                                    @* <i class="fa fa-file text-black-50"></i>
                                                    <span class="ml-1">Files</span> *@
                                                </div>
                                            </div> 
                                            <div class="publish-button">
                                                <div class="align-items-center border-left p-2 px-5 btn publish">
                                                    <input type="submit" value="Post" class="ml-1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model != null) 
                                    {
                                        @foreach (var post in Model.Feed)
                                        {
                                            <div class="col-md-4">
                                                <div class="post p-3 mb-2">
                                                    <div class="icon-img"> 
                                                        <img src="@post.DecryptedPicture" class="rounded-circle img-fluid bg-transparent">
                                                    </div>
                                                    <div class="c-details">
                                                        <a href="@Url.Action("Index", "Profile", new {Email = @post.Email})" class="mb-0" style="text-decoration: none; cursor: pointer;">
                                                            @post.User
                                                        </a> 
                                                        <br>
                                                        <span>@post.Created</span>
                                                    </div>
                                                    <div class="badge">
                                                        <span>@post.ScienceArea</span> 
                                                    </div>
                                                    <div class="mt-3">
                                                        <h5 class="card-title">@post.Title</h5>
                                                        <p class="card-text">@post.Content</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        @* </div> *@
                    @* </div> *@
                </form>
            </div>
        </div>
    </div>
    <script>
        function getUser(email) {
            var url = '@Url.Action("Index", "Profile", new {Email = 1})';
            url = url.replace('1', email);

            $(.list-group-item).attr("href", url);
        }
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</body>