@model AccountViewModel

@{
    var base64 = Convert.ToBase64String(Model.BytePicture);
    var imgSrc = String.Format("data:image/jpeg;base64, {0}", base64);
}

<head>
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>

<body>
    <div class="account-container">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right justify-content-center">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5 mb-2" width="150" src="@imgSrc">
                        <input type="file" name="picture">
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">First name</label>
                                <input type="text" class="form-control" placeholder="@Model.FirstName" name="FirstName" id="Firstname">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Last name</label>
                                <input type="text" class="form-control" placeholder="@Model.LastName" name="lastName" id="Lastname">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Email</label>
                                <input type="email" class="form-control" placeholder="@Model.Email" name="email" id="Email">
                            </div>
                            <div class="col-md-6">
                                <div class="input-box">
                                    <span class="details">University</span>
                                    <select name="university" id="field" class="university">
                                        <option class="disabled-option" value="" selected>@Model.University</option>
                                        @if (Model.Universities != null)
                                        {
                                            @foreach (var university in Model.Universities) 
                                            {
                                                <option>@Html.DisplayFor(x => university.name)</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-box">
                                    <span class="details">Field of science</span>
                                    <select name="sciencearea" id="field" class="sciencearea">
                                        <option class="disabled-option" value="" selected>@Model.ScienceArea</option>
                                        <option value="Physics">Physics</option>
                                        <option value="Biology">Biology</option>
                                        <option value="Chemistry">Chemistry</option>
                                        <option value="Medicine">Medicine</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-box">
                                    <span class="details">Country</span>
                                    <select name="country" id="field" class="country">
                                        <option class="disabled-option" value="" selected>@Model.Country</option>
                                        @if (Model.Countries != null)
                                        {
                                            @foreach (var country in Model.Countries) 
                                            {
                                                <option>@Html.DisplayFor(x => country.name)</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Password</label>
                                <input type="password" class="form-control" value="" placeholder="New password" name="password" id="Password">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Confirm password</label>
                                <input type="password" class="form-control" value="" placeholder="Confirm password" name="confirmpassword">
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <input class="btn btn-primary profile-button" type="submit" value="Save">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $('input[type=submit]').click(function(e) {
            e.preventDefault();
            var updatedData = {
                FirstName: $('#Firstname').val(),
                LastName: $('#Lastname').val(),
                University: $('.university').val(),
                Country: $('.country').val(),
                ScienceArea: $('.sciencearea').val(),
                Password: $('#Password').val()
            };
            console.log(updatedData);

            $.ajax({
                headers: { 
                    'Accept': 'application/json',
                    'Content-Type': 'application/json' 
                },
                type: "PUT",
                url: "/Account/Update",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(updatedData),
                cache: false,
                success: function(d) {
                    if (d.result) {
                        window.location.assign("/Home");
                    } else { 
                        console.log('do something constructive with the error here...');
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    // TODO: Show error
                }
            });
        });
    </script>

</body>