@model AccountViewModel

@{
    var base64 = Convert.ToBase64String(Model.BytePicture);
    var imgSrc = String.Format("data:image/jpeg;base64, {0}", base64);

    foreach (var model in Model.Users)
    {
        @if (model.Picture != null)
        {
            var userBase64 = Convert.ToBase64String(model.Picture);
            var userImgSrc = String.Format("data:image/jpeg;base64, {0}", userBase64);
            model.DecryptedPicture = userImgSrc;
        }
    }

    foreach (var model in Model.Posts)
    {
        @if (model.Picture != null)
        {
            var postBase64 = Convert.ToBase64String(model.Picture);
            var postImgSrc = String.Format("data:image/jpeg;base64, {0}", postBase64);
            model.DecryptedPicture = postImgSrc;
        }
    }
}

<header>
    <link rel="stylesheet" href="~/css/account-view.css" asp-append-version="true" />
</header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<body>
    <div class="container-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-start">
                                <img src="@imgSrc" class="rounded-circle" alt="profile-image" width="150">
                                <div class="w-100 ms-3">
                                    <h4 class="my-0 mt-4">@Model.FirstName @Model.LastName</h4>
                                    <p class="text-muted">@Model.ScienceArea</p>
                                </div>
                            </div>

                            <div class="mt-3">
                                <h4 class="font-13 text-uppercase">About Me :</h4>
                                                
                                <p class="text-muted mb-1 font-13"><strong>Email :</strong> <span class="ms-2">@Model.Email</span></p>

                                <p class="text-muted mb-1 font-13"><strong>University :</strong> <span class="ms-2">@Model.University</span></p>

                                <p class="text-muted mb-1 font-13"><strong>Location :</strong> <span class="ms-2">@Model.Country</span></p>
                            </div>                                     
                        </div>                                 
                    </div> 

                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">User suggestions <i class="mdi mdi-account-multiple ms-1"></i></h4>

                            @foreach (var user in Model.Users)
                            {
                                <div class="list-group">
                                    <a href="@Url.Action("Index", "Profile", new {Email = @user.Email})" class="list-group-item list-group-item-action">
                                        <div class="d-flex align-items-center pb-1" id="tooltips-container">
                                            <img src="@user.DecryptedPicture" class="rounded-circle img-fluid bg-transparent" alt="" width="100">
                                            <div class="w-100 ms-2">
                                                <h5 class="mb-1">@user.Firstname @user.Lastname</h5>
                                                <p class="mb-0 font-13 text-muted">@user.ScienceArea</p>
                                                <p class="mb-0 font-13 text-muted">@user.Country</p>
                                                <p class="mb-0 font-13 text-muted">@user.Email</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div> 

                <div class="col-xl-7">
                    <div class="card-posts">
                        <div class="card-body">
                            <form method="post" asp-action="CreatePost" asp-controller="Home" class="min-form">
                                <div class="share border bg-white" style="margin-bottom: 30px;">
                                    <div class="d-flex flex-column inputs p-2 py-4">
                                        <input type="text" class="border-0 form-control share-input" placeholder="Title" name="title">
                                        <hr class="col-xs-12">
                                        <input type="text" class="border-0 form-control share-input" placeholder="Share your thoughts" name="content">
                                    </div>
                                    <div class="d-flex flex-row justify-content-between border-top">
                                        <div class="d-flex flex-row publish-options">
                                            <div class="align-items-center border-right p-2 share">
                                                @* <i class="fa fa-camera text-black-50"></i>
                                                <span class="ml-1">Photo</span> *@
                                            </div>
                                            <div class="align-items-center border-right p-2 share">
                                                @* <i class="fa fa-video-camera text-black-50"></i>
                                                <span class="ml-1">Video</span> *@
                                            </div>
                                            <div class="align-items-center border-right p-2 share">
                                                @* <i class="fa fa-file text-black-50"></i>
                                                <span class="ml-1">Files</span> *@
                                            </div>
                                        </div> 
                                        <div class="publish-button">
                                            <div class="align-items-center border-left p-2 px-5 btn publish">
                                                <input type="submit" value="Post" class="ml-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="mb-3">
                                @foreach (var post in Model.Posts)
                                {
                                    <div class="col-md-4">
                                        <div class="post p-3 mb-2">
                                            <div class="icon-img"> 
                                                <img src="@post.DecryptedPicture">
                                            </div>
                                            <div class="c-details">
                                                <a class="user" style="text-decoration: none; cursor: pointer;">
                                                    @post.User
                                                </a> 
                                                <br>
                                                <span>@post.Created</span>
                                            </div>
                                            <div class="badge">
                                                <span>@post.ScienceArea</span> 
                                            </div>
                                            <div class="mt-3">
                                                <h5 class="card-title">@post.Title</h5>
                                                <p class="card-text">@post.Content</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</body>