.account-container {
    width: 100vw;
    margin-bottom: 200px;
}

.col-md-3 input {
    width: 70%;
}

.col-md-6 input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #184C34;
    padding-left: 15px;
    font-size: 16px;
}

.col-md-6:focus {
    border: 1px solid #184C34;
}

.input-box select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #184C34;
    padding-left: 15px;
    font-size: 16px;
} 

.btn {
    width: 31rem;
    height: 3rem;
    background-color: #0EBD64;
    border: none;
}

.btn:hover {
    background-color: #184C34;
}