.share-input:focus {
    outline: 0 !important;
    box-shadow: none
}

.share-input {
    outline: 0 !important;
    box-shadow: none;
    display: flex;
}

.publish {
    border-radius: 0 0 10px 0;
    background: #0EBD64;
    color: #fff;
    cursor: pointer;
}

.ml-1 {
    background-color: #0EBD64;
    border: none;
    color: white;
}

.share i {
    color: rgb(159, 159, 242) !important
}

.share {
    border-radius: 10px;
    max-width: 100%;
    margin: 0 auto;
}

.container-page {
    margin-bottom: 200px;
}

.card-body {
    background: none;
}

.col-md-4 {
    width: 100%;
}

.p-3 {
    padding-bottom: 3rem
}

.card {
    padding: 1rem!important;
    margin-top: 0.5rem!important;
    border-radius: 10px;
}

.col-xl-5 {
    padding-top: 0.5rem;
}

.post {
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

@media screen and (max-width: 600px) {
    .post {
      width: 100%;
    }
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon-img {
    width: 3rem;
    height: 3rem;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.icon-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.badge span {
    position: absolute;
    left: 40rem;
    top: 2rem;
    background-color: #0EBD64;
    width: 3rem;
    height: 1rem;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .badge span {
      position: static;
    }
}

.user {
    color: black;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.c-details {
    position: absolute;
    left: 4rem;
    margin-left: 0.5rem!important;
}

.c-details a:hover {
    color: black;
    background-color: white;
}