body {
    background-color: #eee;
    overflow: hidden;
}

.site-wrapper {
    margin: 0 auto;
    margin-left: 0px;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 0;
} 

.all-wrapper {
    width: 100vw;
}

.col-md-5 {
    border: 5px solid black;
    width: 100%;
}

.feed {
    margin: 0;
}

.min-form {
    width: 40vw;
}

.col-md-4 {
    width: 100%;
}

.p-3 {
    padding-bottom: 3rem
}

.container-suggestions {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0.9em;
}

.col-xl-3 {
    width: 50%;
    height: auto;
}

.post {
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

@media screen and (max-width: 600px) {
    .post {
      width: 100%;
    }
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon-img {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.icon-img img {
    width: 100%;
    height: 100%;
}

.badge span {
    position: absolute;
    left: 30rem;
    top: 2rem;
    background-color: #0EBD64;
    width: 3rem;
    height: 1rem;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .badge span {
      position: static;
    }
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

.mb-0 {
    color: black;
    font-size: 1.25rem;
}

.font-12 {
    margin-bottom: 0;
}

.w-100 {
    margin-left: 1rem;
}

.list-group {
    margin-bottom: 0.5rem;
    
}

.c-details {
    position: absolute;
    left: 4rem;
    margin-left: 0.5rem!important;
}

.c-details a:hover {
    color: black;
    background-color: white;
}

.feed-icon {
    margin-left: -10em;
}

.share-input:focus {
    outline: 0 !important;
    box-shadow: none
}

.share-input {
    outline: 0 !important;
    box-shadow: none;
    display: flex;
}

.publish {
    border-radius: 0 0 10px 0;
    background: #0EBD64;
    color: #fff;
    cursor: pointer
}

.share i {
    color: rgb(159, 159, 242) !important
}

.share {
    border-radius: 10px;
    max-width: 100%;
    margin: 0 auto;
}

.ads-text {
    font-size: 10px
}

.ads-content span {
    font-size: 12px
}

.time {
    font-size: 12px;
    color: blue
}

.profile-content span {
    font-size: 12px
}

.content-image img {
    width: 100%;
    height: auto
}

.ads-content img {
    width: 100%
}

hr {
    border-top: 1px dotted #000000 !important;
    margin-bottom:5px !important; 
    margin-top:5px !important;
}

.ml-1 {
    background-color: #0EBD64;
    border: none;
    color: white;
}

.site-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 400px;
    max-width: 400px;
    background: transparent;
    color: #444;
    transition: all 0.3s;
}

@media (max-width: 940px) {
    #sidebar {
        display: none;
    }

    .min-form {
        margin: 0 auto;
        width: 100vw;
    }
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: transparent;
}

.card {
    padding: 1rem!important;
    margin-top: 1rem!important;
    border-radius: 10px;
}