body {
    display: flex;
    height: 105vh;
    margin: 0;
    overflow: hidden;
    background-color: white!important;
}

.wrapper-details {
    width: 100vw;
    margin-bottom: 200px;
}

.container-details{ 
    max-width: 750px;
    width: 100%;
    background: white;
    margin: 0 auto;
}

.container-details .title{
    font-size: 30px;
    font-weight: 500;
    position: relative;
}

.container-details .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 15%;
    background: #184C34;
}

.container-details form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #184C34;
    padding-left: 15px;
    font-size: 16px;
} 

.user-details .input-box-file .details{
    display: block;
    font-weight: 500;
    margin-bottom: 15px;
}

.input-box-file {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #184C34;
    padding-left: 15px;
    font-size: 16px;
} 

.input {
    color: white;
    background-color: #0EBD64;
    border: none;
    width: 100%;
}

.btn-primary {
    margin: 45px 0 10px;
    float: right;
    border: none;
    background-color: #0EBD64;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    width: 47%;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #0EBD64;
}

.btn-outline-secondary {
    margin: 45px 0 10px;
    border: 2px solid #0EBD64;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    width: 47%;
    border-radius: 10px;
}

.a {
    color: #0EBD64;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-outline-secondary:hover {
    background-color: #0EBD64;
    border: none;
}

.btn-outline-secondary:hover .a {
    background-color: none;
    border: none;
    color: white;
}

.disabled-option {
    color: lightgray;
}