﻿body {
    background: url("https://t3.ftcdn.net/jpg/02/62/64/74/360_F_262647409_g5OOKvRUXTb1n5rnv9G6FqkZQZ4b8xke.jpg");
    max-height: 50vw;
    height:auto;
    background-position: right center;
    background-repeat: no-repeat;
}

.center {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 400px;
}

@media (max-width: 1000px) {
    body {
        background: none;
        max-height: 0;
        height:0;
        background-position: none;
        background-repeat: no-repeat;
    }
}

fieldset {
    border: none;
    position: relative;
}

input:focus {
    outline: none;
    background: transparent;
}

input + label {
    display: block;
    cursor: text;
    color: #777;
    transition: .15s ease-out all;
    position: absolute;
    top: 1em;
    left: 1em;
}


.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #184C34;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field1, .txt_field2 {
    position: relative;
    border: 1px solid #184C34;
    border-radius: 10px;
    margin: 15px 0;
}

.txt_field1 input, .txt_field2 input {
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field1 label, .txt_field2 label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease all;
}

.focused label {
    top: 0.5em;
    font-size: .7em;
}

.pass {
    margin: -5px 0 20px 5px;
    color: black;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #0EBD64;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: -5px;
}

input[type="submit"]:hover {
    border-color: black;
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: gray;
}

.signup_link a {
    color: black;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}
