html,body {
  font-size: 14px;
  overflow: auto;
}

body {
  background-color: #eee;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
} 

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header-blue {
  font-family:'Source Sans Pro', sans-serif;
}

.header-blue .navbar {
  background: transparent;
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#444;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (max-width:992px) {
  .header-blue .navbar {
    padding-top:1rem;
    padding-bottom:1rem;
  }
}

.header-blue .navbar .navbar-brand {
  font-weight:bold;
  color:inherit;
  font-size: 36px;
  border: none;
}

.header-blue .navbar .navbar-brand:hover {
  color:#444;
}

.header-blue .navbar .navbar-collapse {
  border-top:1px solid #444;
  color: #444;
  margin-top:.5rem;
}

@media (min-width:992px) {
  .header-blue .navbar .navbar-collapse {
    border-color:transparent;
    margin:0;
  }
}

.header-blue .navbar .navbar-collapse span .login {
  color:#444;
  margin-right:.5rem;
  text-decoration:none;
  padding:.4rem .8rem;
  border-radius: 25px;
  font-size: 16px;
}

.header-blue .navbar .navbar-collapse span .login:hover {
  color:#eee;
  background-color: #0EBD64;
}

@media (max-width: 768px) {
  .header-blue .navbar-nav .nav-link {
    padding-left:.7rem;
    padding-right:.7rem;
  }
}

@media (max-width: 992px) {
  .header-blue .navbar-nav .nav-link {
    padding-left:1.2rem;
    padding-right:1.2rem;
  }
}

.header-blue .action-button, .header-blue .action-button:not(.disabled):active {
  border:1px solid #0EBD64;
  border-radius:40px;
  color:#444;
  box-shadow:none;
  text-shadow:none;
  padding:.4rem .8rem;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
  font-size: 16px;
}

.header-blue .action-button:hover {
  color:#eee;
  background-color: #0EBD64;
}

.header-blue .navbar .form-inline {
  margin: 0 auto;
}

.form-group {
  margin-left: 100px;
}

.header-blue .navbar .form-inline label {
  color:#444;
  font-size: 18px;
}

.header-blue .navbar .form-inline .search-field {
  margin: 0 auto;
  display:inline-block;
  width: 85%;
  height: 35px;
  background:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#444;
  box-shadow:none;
  color:inherit;
  border: 1px solid #444;
  border-radius: 1rem;
}

/* .header-blue .navbar .form-inline .search-field:focus {
  border-bottom:1px solid #ccc;
} */

.header-blue .hero {
  margin-top:20px;
  text-align:center;
}

@media (min-width:768px) {
  .header-blue .hero {
    margin-top:60px;
    text-align:left;
  }
}

.header-blue .hero h1 {
  color:#444;
  font-size:40px;
  margin-top:0;
  margin-bottom:15px;
  font-weight:300;
  line-height:1.4;
}

@media (min-width:992px) {
  .header-blue .hero h1 {
    margin-top:190px;
    margin-bottom:24px;
    line-height:1.2;
  }
}

.header-blue .hero p {
  color:#444;
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}

.dropdown-menu a {
  color: black !important;

}

.autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-field.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box option{
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-field.active .autocom-box option{
  display: block;
}

.autocom-box li:hover{
  background: #efefef;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    border-radius: 10px;
}

